.singlePost {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &__profile-info {
    max-width: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 82px auto;
    gap: 12px;
  }
  &__avatarka {
    width: 82px;
    height: 82px;
    border-radius: 200%;
    grid-row: span 2;
  }

  &__name-block {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: flex-end;
    font-size: 18px;
    font-weight: 500;
  }

  &__btn {
    max-width: 210px;
    width: 100%;
  }

  &__post-img {
    width: 100%;
    max-height: 500px;
    height: 100%;
    object-fit: cover;
  }
  &__like-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__icon-block {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__menu-icon {
    width: 42px;
  }
  &__desc {
    font-size: 24px;
    color: #757575;
  }
}
