.mainBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 48px;
    border: none;
    border-radius: 100px;
    background-color: #7545FF;
    cursor: pointer;
    font-size: 24px;
    color: white;

    &:hover{
        background-color: #5F3DC4;
    }

    &:active{
        background-color: #7545FF;
    }
}