.input-block {
  width: 100%;

  &__input {
    margin-bottom: 4px;
  }
  &__text {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 8px;
    text-transform: capitalize;

    color: #000000;
  }
  &__error-input {
    color: red;
    outline: 1px solid red;
  }
  &__error-text {
    color: red;
    opacity: 0;

    &--active {
      opacity: 1;
    }
  }
}
