.logForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &__tittles{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    &__tittle{
        font-size: 46px;
        color: #000000;
        font-family: "Open Sans", sans-serif;

        &--font{
            color: #7545FF;
            font-size: 36px;
            font-family: "Lobster", sans-serif;
        }
    }

    &__links{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link{
        text-decoration: none;
        color: #000000;
        font-size: 23px;
        font-family: "Open Sans", sans-serif;
        margin: 0px 5px;

        &:hover{
            color: #7545FF;
        }
    }

    &__link--active{
        color: #7545FF;
    }

    &__stick{
        color: #000000;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
    }

    &__block{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__inputs{
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 15px;
        margin-top: 15px;
    }
    

    &__label{
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        color: #000000;
        text-align: start;
    }
}


.error{
    color: red;
}