.sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    border-right: 2px solid #757575;
    gap: 50px;
    padding: 30px;

    &__tittle{
        font-size: 30px;
        font-family: "Lobster", sans-serif;
    }

    &__profileImg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #7545FF;
    }

    &__homeImg{
        width: 40px;
        height: 40px;
    }

    &__links{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 40px;
    }

    &__link{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        font-size: 20px;
        font-family: "Open Sans", sans-serif;
        color: #000000;
        text-decoration: none;
        padding: 5px;

        &:hover{
            border-bottom: 2px solid #757575;
        }
    }

    &__link--active{
        border-bottom: 2px solid #757575;
    }
}